on fs
    setprop ro.product.odm.device PNXN
    setprop ro.product.vendor.device PNXN
    setprop ro.product.odm.name Phoenix_00RU
    setprop ro.product.vendor.name Phoenix_00RU
on fs
	setprop ro.vendor.build.fingerprint Nokia/Phoenix_00RU/PNXN:11/RKQ1.200906.002/00WW_6_210:user/release-keys
	setprop ro.odm.build.fingerprint Nokia/Phoenix_00RU/PNXN:11/RKQ1.200906.002/00WW_6_210:user/release-keys
