on boot
    setprop sys.fp.navigation.enable 1

on fs
    chown system system /dev/goodix_fp
    chmod 666 /dev/goodix_fp
    
    setprop ro.hardware.fingerprint gxfp3258_pnx

on property:vendor.gxfp.cid=*
    setprop vendor.fp.firmware.version  Gx-${vendor.gxfp.cid}-${vendor.gxfp.version}

on post-fs-data
    mkdir /data/system/users/0/fpdata 0700 system system
    restorecon_recursive /data/system/users/0/fpdata
    mkdir /data/vendor/gf_data 0755 system system

